li {
    list-style: none;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 50;
    margin-bottom: 80px;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F5EE;
    @media (max-width: $mobile-media-size) {
        height: 60px;
        position: fixed;
        z-index: 10;
    }
}
.header_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_logo {
    flex: 0 0 75px;
    z-index: 15;
    @media (max-width: $mobile-media-size) {
        padding-top: 5px;
        flex: 0 0 45px;
    }
    img {
        max-width: 100%;
    }
}
.navigation_list {
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
    @media (max-width: $mobile-media-size) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f8faf8;
        margin: 0;
        padding: 0;
        display: block;
        padding: 160px 0 0 0;
        //overflow: auto;
    }
}
.navigation_list.vip_menu, .btn_close_menu.vip_menu, .div_icons.vip_menu {
    @media (max-width: $mobile-media-size) {
        display: none;
    }
}

.item_navigation {
    padding: 0 0 0 20px;
    @media (max-width: $mobile-media-size) {
        padding: 10px 0 0 20px;
        &:last-child {
            display: list-item;
        }
    }
    &:last-child {
        display: none;
    }
}
.item_link {
    list-style: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn_close_menu {
    display: none;
    content: '';
    background-image: url('/img/sprite/line.svg');
    background-repeat: no-repeat;
    background-position: 2px -190px;
    width: 30px;
    height: 30px;
    outline: dashed 1px blue;
    @media (max-width: $mobile-media-size) {
        display: inline-block;
        position: relative;
        top: 0px;
        right: 0px;
        z-index: 15;
    }
}
.div_icons {
    z-index: 15;
    @media (max-width: $mobile-media-size) {
        // .div_icons.vip_menu {
        //     display: none;
        // }
    }
}
.top_header_icons {
    padding: 0 5px;
    display: flex;
}
.top_header_icon {
    content: '';
    width: 30px;
    height: 30px;
    outline: dashed 1px blue;
    display: flex;

}
.icon_basket {
    background-image: url('/img/sprite/line.svg');
    background-position: 2px 2px;
    background-repeat: no-repeat;
}
.icon_burger {
    display: none;
    @media (max-width: $mobile-media-size) {
        display: flex;
        background-image: url('/img/sprite/line.svg');
        background-position: -141px -141px;
    }
}

// .content {
//     padding: 60px 0 0 0;
// }
@media (max-width: $mobile-media-size) {
    body.lock_page {
        overflow: hidden;
    }
}
.social_icons_menu {
    ul {
        padding: 30px 0 0 0;
        display: flex;
        .icon_faceBook {
            background-image: url('/img/Logo/facebook.svg');
            background-position: -1px 1px;
        }
        .icon_Inst {
            background-image: url('/img/Logo/instagram.svg');
            background-position: 3px 3px;
        }
        li {
            margin: 0 10px 0 0;
            content: '';
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            outline: dashed 1px blue;
            a {
                text-decoration: none;
            }
        }
    }
}