.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 64px;
    justify-content: space-between;
    @include midle-centred (1120px);

    @media (max-width: $mobile-media-size) {
        display: flex;
        flex-direction: column;
    }

    &__picture{
        &__item {
            display: block;
            picture {
                position: relative;
            }
            @media (max-width: $mobile-media-size) {
                &:first-child {
                    position: relative;
                }
                &:last-child {
                    position: relative;
                }
                &:not(:first-child) {
                    display: none;
                }
                &:not(:first-child).display__block {
                    display: block;
                }

            }
            &__btnshowpicture {
                display: none;
            }
            &__btnhiddenpicture {
                display: none;
            }
            @media (max-width: $mobile-media-size) {
                &__btnshowpicture {
                    display: block;
                    position: absolute;
                    width: 122px;
                    height: 32px;
                    content: "";
                    bottom: 15px;
                    right: 10px;
                    background-repeat: no-repeat;
                    background-image: url("../img/buttons/button.png");
                }
                &__btnhiddenpicture {
                    display: block;
                    position: absolute;
                    width: 122px;
                    height: 32px;
                    content: "";
                    bottom: 15px;
                    right: -10px;
                    background-repeat: no-repeat;
                    background-image: url("../img/buttons/buttonhiddenpicture.png");
                }
            }
            img {
                width: 100%;
            }
        }
        
    }

    &__description{
        display: flex;
        flex-direction: column;
        &__name {
            font-size: 44px;
            font-weight: 500;
            margin: 8px 0px;
        }
        &__articule {
            font-size: 14px;
            color: #828282;
        }
        &__price {
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 500;
            &.sale {
                .product__description__price__sale {
                    display: block;
                }
                .product__description__price__real {
                    color: red;
                }
            }
            &__real {
                margin-right: 10px;
            }
            &__sale {
                display: none;
                font-size: 16px;
                font-weight: 400;
                color: #828282;
                position: relative;
                
                &::before {
                    position: absolute;
                    content: "";
                    top: 8px;
                    width: 100%;
                    transform: rotate(-10deg);
                    height: 2px;
                    background-color: red;
                    opacity: 0.5;
                }
            }
        }
        &__counter {
            &__name {}
            &__item {
                //margin-top: 10px;
                display: flex;
                width: 136px;
                height: 56px;
                background-color: white;
                justify-content: space-between;
                align-items: center;
                & * {
                    width: calc(100%/3);
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__minus {
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 40%;
                        height: 2px;
                        background-color: black;
                    }
                }
                &__value {
                    border: none;
                    text-align: center;
                    font-size: 18px;
                    padding: 0;
                }
                &__plus {
                    position: relative;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 40%;
                        height: 2px;
                        background-color: black;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 40%;
                        height: 2px;
                        background-color: black;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        &__tobasket {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 56px;
            border: none;
            font-size: 18px;
            margin-top: 10px;
            &__icon {
                width: 24px;
                height: 24px;
                svg path {
                    fill: white;
                }
            }
        }
        &__specifications {
            &>h2 {
                font-size: 22px;
            }
            &__list {
                padding: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                justify-content: flex-start;
                @media (max-width: $mobile-media-size) {
                    display: flex;
                    flex-direction: column;
                }
                &__item {
                    &__name {
                        color: #4F4F4F;
                        font-size: 9px;
                        font-weight: 400;
                        line-height: 12px;
                    }
                    &__text {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        &__icon {
                            width: 20px;
                            height: 20px;
                            background-image: url('../img/sprite/fill.svg');
                            background-repeat: no-repeat;
                            background-size: 700%;
                            background-position: -120px 0px;
                        }
                        &>a {
                            text-decoration: none;
                            color: #262F56;
                        }
                    }
                }
            }
        }
        &__aboutitem {
            &>h2 {
                font-size: 22px;
            }
            &__text {
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }
}