//необходимая часть, не удалять!!!!!!!!!
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }

//добавляем шрифты
@import "fonts";


//глобальные настройки

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

.padding_for_header {
    padding-top: 60px;
}

//переменные
$mobile-media-size: 425px;

//основная стилизация

@import "header";
@import "footer";

@import "main_page";

